body{
	height: 100vh;
	margin: 0;
	background-color: black;
	color: white;
}

#main {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	height: calc(100% - 200px);
}

#title{
	font-size: 50px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}

#description{
	font-size: 20px;
	text-align: center;
	width: 70%;
	margin: auto;
}
a{
	color: white;
}

textarea {
	height: 100%;
	width: 100%;
	color: black;
	font-size: 15px;
	border: 10px solid #CCCC00;
	border-radius: 10px;
	outline: none;
	resize: none;
}

#area1, #area2{
	flex: 1;
	margin: 20px;
	height: 400px;
}

button{
	position: relative;
	top: -60px;
	right: -15px;
	background-color: #CCCC00;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 30px;
	width: 75px;
	font-size: 15px;
}

select{
	background-color: white;
	border: 5px solid  #CCCC00;
	outline: none;
}

* {
	font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 800px) {
	#main {
		flex-direction: column;
		min-height: 600px;
	}
}