body{
	height: 100vh;
	margin: 0;
	background-color: black;
	color: white;
}

#main {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: auto;
	height: calc(100% - 200px);
}

#title{
	font-size: 50px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 20px;
}

#description{
	font-size: 20px;
	text-align: center;
	width: 70%;
	margin: auto;
}
a{
	color: white;
}

textarea {
	flex: 1;
	margin: 20px;
	height: 400px;
	color: black;
	font-size: 15px;
	border: 10px solid #CCCC00;
	border-radius: 10px;
	outline: none;
}

* {
	font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 800px) {
	#main {
		flex-direction: column;
	}
}